@import "_oa";



@include font-face("icomoon", font-files("icomoon/icomoon.eot", "icomoon/icomoon.woff", "icomoon/icomoon.ttf", "icomoon/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', Roboto,RobotoDraft,Helvetica,Arial,sans-serif,"微軟正黑體", "Microsoft JhengHei"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;
  @include font-smoothing(antialiased);
}

.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-cog:before {
  content: "\e994";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-facebook2:before {
  content: "\ea91";
}
* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1));
    @include font-smoothing(antialiased);
  }
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

$width: 1024px;
$header_height: 50px;

#header{
    display: inline-block;
    float: left;
    width: 100%;
    height: $header_height;
    text-align: center;
    background-color: RGBA(59, 89, 152, 1.00);
    @include clearfix();

    > *{
        display: inline-block;
        height: $header_height;
        @include clearfix();
    }   

    .content {
        width: $width;

        
        > *{
            display: inline-block;
            float: left;
            height: $header_height;
            @include clearfix();
        }   

        #icon {
            width: 40px;
            height: $header_height;
            padding-top: 8px;

            > label {
                width: 20px;
                height: 40px;
                text-align: center;
                font-size: 30px;
                color: white;
            }
          
        }

        #search {
           width: calc(100% - 40px - 120px - 120px - 20px);
           padding: 10px;

           > div {
                display: inline-block;
                float: left;
                width: 100%;
                height: 100%;
                @include clearfix();
                > input {
                    width: 100%;
                    height: 100%;
                }
           }
        }

        #member {
           width: 120px;
           
           .bighead {
                display: inline-block;
                float: left;
                width: 40px;
                height: 40px; 
                text-align: center;
                font-size: 30px;
                margin-top: 8px;
                color: white;
                @include clearfix();
           }
           .name {
                display: inline-block;
                float: left;
                width: 70px;
                height: $header_height;
                line-height: $header_height;
                text-align: center;
                font-size: 16px;
                color: white;
                @include clearfix();

           }
        }

        #tools {
            width: 120px;
            padding-top: 8px;

            > * {
                display: inline-block;
                float: left;
                width: 38px;
                height: 40px; 
                text-align: center;
                font-size: 26px;
                color: RGBA(24, 36, 61, 1.00);
                @include clearfix();
            }
        }
    }

}

