@import "_oa";



@include font-face("icomoon", font-files("icomoon/icomoon.eot", "icomoon/icomoon.woff", "icomoon/icomoon.ttf", "icomoon/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', Roboto,RobotoDraft,Helvetica,Arial,sans-serif,"微軟正黑體", "Microsoft JhengHei"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;
  @include font-smoothing(antialiased);
}

.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-facebook2:before {
  content: "\ea91";
}


* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1));
    @include font-smoothing(antialiased);
  }
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#box1, #box2, #box3, #box4{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: RGBA(39, 40, 34, 1.00);

    &.checked {
        background-color: RGBA(102, 217, 239, 1.00);
    }
}



